/* WEB */
@media (min-width: 600px) {
    * {
        box-sizing: border-box;
    }

    .login-screen-flex{
        width: 60%;
        margin:auto;
        padding: 40px 20px;
    }

    .login-screen {
        width: 50%;
        height: 85%;
        align-items: center;
        flex-direction: column;
        border: 2px solid mediumseagreen;
        border-radius: 7px;
        padding: 0;
    }
    .h1-login {
        width: 35%;
        height: 10%;
        text-align: center;
        align-self: center;
        color: blue;
        border: 1px solid mediumseagreen;
        border-radius: 7px;
        padding: 0;
        margin: 50px 5px 5px 5px;
        /*visibility: visible;*/
    }

    .main-layout {
        flex-direction: row;
        --top-bar-height: 75px;
        --top-bar-align: center;
        --top-bar-margin: 5vw;

        /* Used by the menu and form overlays */
        --overlay-box-shadow: 0 0 3px 2px var(--lumo-contrast-10pct);
    }

    .standard-form {
        height: calc(100% - var(--top-bar-height));
        flex-direction: column;
        --overlay-box-shadow: 2px 2px var(--lumo-contrast-10pct);
        position: initial;
        right: 0;
        bottom: 0;
        overflow: initial;
        background: var(--lumo-base-color);
        /*box-shadow: #7f7f7f 2px 2px ;*/
        box-shadow: var(--overlay-box-shadow);
    }
    .titleBar {
        height: 20px;
        margin: 5px 0px 5px;
        text-align: center;
    }

    .titleMenu {
        margin: 14px 0px 14px;
        text-align: center;
    }

    .formLayout{
        margin: 20px 20px 20px 30px;
        /*padding: 10px;*/
        padding: var(--lumo-space-m);
        flex: 1;
    }

    .formLayoutDialog{
        padding: 10px;
    }
}

/* MOBILE*/
@media (max-width: 550px) {

    .login-screen-flex{
        width: 90%;
        padding: 0;
        margin: auto;
    }

    .login-screen {
        width: 90%;
        height: 90%;
        align-items: center;
        flex-direction: column;
        border: 2px solid mediumseagreen;
        border-radius: 7px;
        padding: 0;
    }

    .standard-form {
        width: 100%;

        /* Prevent text-fields from overflowing on narrow screens */
        --vaadin-text-field-default-width: 6em;
    }
    .h1-login {
        width: 80%;
        height: 50%;
        align-items: center;
        color: blue;
        border: 1px solid mediumseagreen;
        border-radius: 7px;
        text-align: center;
        /*visibility: hidden;*/
    }
    .titleBar {
        height: 15em;
        margin: 14px 0px 14px;
        text-align: center;
    }

    .titleMenu {
        margin: 5px 0px 5px;
        text-align: center;
    }

    .formLayout{
        padding: 10px;
    }

    .formLayoutDialog{
        padding: 5px;
    }
}

a[highlight] {
    font-weight: bold;
    text-decoration: underline;
}

.header {
    padding: 0 var(--lumo-space-m);
}

.header h1.logo {
    font-size: 1em;
    margin: var(--lumo-space-m);
}


.menu-header {
    padding: 11px 16px;
}


.menu-link {
    margin: 0 auto;
    padding: 5px 5px;
}

.menu-link > span {
    display: block;
}

.menu-button {
    display: none;
}



/* Color codes for the Activo statuses */
.SI {
    color: #2dd013;
}

.NO {
    color: #050103;
}

.titleView {
    height: 20px;
    border-spacing: 0.5px;
    margin: auto;
    text-align: left;
    color: #2dd013;
}

.userNavBar {
    height: 20px;
    border-spacing: 0.5px;
    margin: auto;
    text-align: right;
}

.form-layout {
    border-spacing: 2px;
    margin: 2px;
}
.menubutton {
    padding: 0;
}

.menuAccordion {
    padding: 0;
}

.menuLayout {
    margin: 2px;
    padding: 1px;
    border: 2px solid mediumseagreen;
    border-radius: 7px;
}

.subMenu-Layout {
    margin: 1px;
    padding: 1px;
    border: 1px solid blue;
    border-radius: 7px;
}

.drawerLayout {
    margin: 2px;
    padding: 2px;
}